.about, .personal, .Bsc, .hsc, .ssc{
    margin: 10px;
    width: 30%;
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    padding: 30px;
    background-color: blanchedalmond;
    font-size: 20px;
    border-left-width: 30px; 
    border-left-color: rgb(206, 134, 134);
    display: inline-block;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    text-align: justify;
    
}
